<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Editar Usuario</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :sm="24" :md="12">
          <el-input placeholder="Nombre" v-model="usuario.name"></el-input>
        </el-col>
        <el-col :sm="24" :md="12">
          <el-input placeholder="Correo" v-model="usuario.email"></el-input>
        </el-col>
        <el-col :sm="24" :md="12">
          <el-input placeholder="Clave" v-model="password"></el-input>
        </el-col>
        <el-col :sm="24" :md="12">
          <el-select
            v-model="tipo_usuario"
            filterable
            placeholder="Tipo de Usuario"
            class="w-100"
          >
            <el-option
              v-for="item in type_users"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-button
            class="w-100"
            :loading="guardando"
            type="success"
            width="100%"
            @click="updateUser"
          >
            <i class="el-icon-success"></i> Guardar</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      usuario: "",
      loader: false,
      usuarios: [],
      search: "",
      tipo_usuario: "",
      status: "",
      guardando: false,
      name: "",
      email: "",
      password: "",
      type_users: [
        {
          value: "1",
          label: "Administrador",
        },
        {
          value: "2",
          label: "Data Entry",
        },
      ],
      status_users: [
        {
          value: "1",
          label: "Activo",
        },
        {
          value: "2",
          label: "Inactivo",
        },
      ],
    };
  },
  mounted() {
    this.getUser();
  },
  methods: {
    regresar() {
      this.$router.push("/usuarios");
    },

    getUser() {
      axios
        .get("/api/v1/usuario/edit/" + this.$route.params.id)
        .then((response) => {
          this.usuario = response.data.data;
        });
    },

    updateUser() {
      this.guardando = true;

      const params = {
        name: this.usuario.name,
        email: this.usuario.email,
        password: this.usuario.password,
        tipo: this.tipo_usuario,
        idUser: this.usuario.id,
      };

      axios.post("/api/v1/usuario/update", params).then((response) => {
        if (response.data.status == 200) {
          this.name = "";
          this.email = "";
          this.password = "";
          this.status_usuario = "";
          this.tipo_usuario = "";
          this.guardando = false;

          this.$swal("Usuario Editado con Exito!");
          this.$router.push("/usuarios");
        }
      });
    },
  },
};
</script>


<style>
.el-col {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
</style>
