<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Usuarios</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="success" @click="createUser"
            ><i class="el-icon-circle-plus"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <template class="table-container">
            <el-table
              :data="
                usuarios.filter(
                  (data) =>
                    !search ||
                    data.name.toLowerCase().includes(search.toLowerCase()) ||
                    data.email.toLowerCase().includes(search.toLowerCase())
                )
              "
              style="width: 100%"
              stripe
            >
              <div slot="empty">
                <span
                  >No se encontraron resultados <el-icon name="search"></el-icon
                ></span>
              </div>
              <el-table-column label="Nombre" width="200">
                <template slot-scope="scope">
                  <i class="el-icon-user"></i>
                  <span style="margin-left: 10px">{{ scope.row.name }}</span>
                </template>
              </el-table-column>
              <el-table-column label="Correo" width="300">
                <template slot-scope="scope">
                  {{ scope.row.email }}
                </template>
              </el-table-column>
              <el-table-column label="Estado">
                <template slot-scope="scope">
                <span class="badge badge-success" v-if="scope.row.status == 1">Activo</span>
                <span class="badge badge-warning" v-if="scope.row.status == 2">Inactivo</span>
                </template>
              </el-table-column>
              <el-table-column label="Tipo">
                <template slot-scope="scope">
                <span class="badge badge-success" v-if="scope.row.tipo_usuario == 1">Administrador</span>
                <span class="badge badge-warning" v-if="scope.row.tipo_usuario == 2">Data Entry</span>
                </template>
              </el-table-column>
              <el-table-column align="right">
                <template slot="header" slot-scope="scope">
                  <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Type to search"
                  />
                </template>
                <template slot-scope="scope">
                  <el-button type="primary" @click="editarUser(scope.row.id)" icon="el-icon-edit" size="mini"></el-button>
                  <el-button type="danger" @click="desactivarUser(scope.row.id)" v-if="scope.row.status == 1" icon="el-icon-error" size="mini"></el-button>
                  <el-button type="success" @click="activarUser(scope.row.id)" v-if="scope.row.status == 2" icon="el-icon-success" size="mini"></el-button>
                </template>
              </el-table-column>
            </el-table>
          </template></el-col
        ></el-row
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      usuarios: [],
      search: "",
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      axios.get("/api/v1/usuario/get").then((response) => {
        this.usuarios = response.data.data;
        console.log(this.usuarios);
        this.loader = false;
      });
    },

    createUser(){
        this.$router.push("/user/create")
    },

    desactivarUser( idUser ){
        axios.get("api/v1/usuario/inactivate/"+idUser).then((response) => {
            this.$swal('Usuario Desactivado con Exito!');
            this.getUsers();
        })
    },

    activarUser( idUser ){
        axios.get("api/v1/usuario/activate/"+idUser).then((response) => {
            this.$swal('Usuario Activado con Exito!');
            this.getUsers();
        })
    },

    editarUser( idUser ){
        this.$router.push("/user/edit/"+ idUser)
    }
  },
};
</script>


<style>
@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
i{
    font-weight: 900;
}
</style>
