<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Crear Ayuda</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :sm="24" :md="24">
          <el-input placeholder="Ayuda" v-model="ayuda"></el-input>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-button
            class="w-100"
            :loading="guardando"
            type="success"
            width="100%"
            @click="storeAyuda"
          >
            <i class="el-icon-success"></i> Guardar</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ayuda: '',
      loader: false
    };
  },
  mounted() {},
  methods: {
    storeAyuda(){
      this.loader = true
      const params = {
        ayuda: this.ayuda
      }

      axios.post("/api/v1/ayudas/store", params).then((response) => {
        this.$swal({icon: 'success', title: 'Ayuda Creada con exito!'});
        this.$router.push("/ayudas")
        this.loader = false
      })
    },

    regresar(){
      this.$router.push("/ayudas")
    },


  },
};
</script>


<style>
.el-col {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
</style>
