<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Editar Ayuda</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-icon
          class="text-center"
          icon="arrow-clockwise"
          animation="spin"
          variant="success"
          font-scale="7,5"
        ></b-icon>
      </div>

      <el-row :gutter="10">
        <el-col :sm="24" :md="24">
          <el-input placeholder="Ayuda" v-model="ayuda"></el-input>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-button
            class="w-100"
            :loading="guardando"
            type="success"
            width="100%"
            @click="updateAyuda"
          >
            <i class="el-icon-success"></i> Guardar</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ayuda: "",
      idAyuda: "",
      loader: false,
      guardando: false,
    };
  },
  mounted() {
    this.getAyuda();
  },
  methods: {
    regresar() {
      this.$router.push("/ayudas");
    },

    getAyuda() {
      this.loader = true;
      axios
        .get("/api/v1/ayudas/edit/" + this.$route.params.id)
        .then((response) => {
          this.ayuda = response.data.data.ayuda;
          this.idAyuda = response.data.data.id;
          this.loader = false;
        });
    },

    updateAyuda() {
      this.guardando = true;
      const params = {
        idAyuda: this.idAyuda,
        ayuda: this.ayuda,
      };

      axios.post("/api/v1/ayudas/update", params).then((response) => {
        this.$swal({ icon: "success", title: "Ayuda Editada con exito!" });
        this.$router.push("/ayudas");
        this.guardando = false;
      });
    },
  },
};
</script>


<style>
.el-col {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
</style>
