<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Ayudas</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="success" @click="createAyuda"
            ><i class="el-icon-circle-plus"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-icon
          class="text-center"
          icon="arrow-clockwise"
          animation="spin"
          variant="success"
          font-scale="7,5"
        ></b-icon>
      </div>

      <el-row :gutter="10" v-if="loader != true">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <template class="table-container">
            <el-table
              :data="
                ayudas.filter(
                  (data) =>
                    !search ||
                    data.ayuda.toLowerCase().includes(search.toLowerCase())
                )
              "
              style="width: 100%"
              stripe
            >
              <div slot="empty">
                <span
                  >No se encontraron resultados <el-icon name="search"></el-icon
                ></span>
              </div>
              <el-table-column label="Ayuda" width="200">
                <template slot-scope="scope">
                  <i class="el-icon-s-finance"></i>
                  <span style="margin-left: 10px">{{ scope.row.ayuda }}</span>
                </template>
              </el-table-column>
              <el-table-column align="right">
                <template slot="header" slot-scope="scope">
                  <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Type to search"
                  />
                </template>
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    @click="editAyuda(scope.row.id)"
                    icon="el-icon-edit"
                    size="mini"
                  ></el-button>
                  <el-button
                    type="success"
                    @click="tiposAyuda(scope.row.id)"
                    icon="el-icon-files"
                    size="mini"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table> </template></el-col
      ></el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ayudas: [],
      loader: true,
      search: "",
    };
  },
  mounted() {
    this.getAyudas();
  },
  methods: {
    createAyuda() {
      this.$router.push("/ayuda/create");
    },

    getAyudas() {
      axios.get("/api/v1/ayudas/get").then((response) => {
        this.ayudas = response.data.data;
        this.loader = false;
      });
    },

    tiposAyuda(idAyuda) {
      this.$router.push("tipos-ayudas/" + idAyuda);
    },

    editAyuda(idAyuda) {
      this.$router.push("/ayuda/edit/" + idAyuda);
    },
  },
};
</script>


<style>
@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
i {
  font-weight: 900;
}
</style>
