<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="20" :sm="19" :md="20" :lg="20" :xl="20">
          <p class="card-title">Barrios</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="success" @click="CreateBarrio"
            ><i class="el-icon-circle-plus"></i
          ></el-button>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <template class="table-container">
            <el-table
              :data="
                barrios.filter(
                  (data) =>
                    !search ||
                    data.barrio.toLowerCase().includes(search.toLowerCase())
                )
              "
              style="width: 100%"
              stripe
            >
              <div slot="empty">
                <span
                  >No se encontraron resultados <el-icon name="search"></el-icon
                ></span>
              </div>
              <el-table-column label="Barrio" width="200">
                <template slot-scope="scope">
                  <i class="el-icon-position"></i>
                  <span style="margin-left: 10px">{{ scope.row.barrio }}</span>
                </template>
              </el-table-column>
              <el-table-column align="right">
                <template slot="header" slot-scope="scope">
                  <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Escriba para buscar"
                  />
                </template>
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    @click="editBarrio(scope.row.id)"
                    icon="el-icon-edit"
                    size="mini"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table> </template></el-col
      ></el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      barrios: [],
      search: "",
    };
  },
  mounted() {
    this.getBarrios();
  },
  methods: {
    getBarrios() {
      axios.get("/api/v1/barrios/"+this.$route.params.id).then((response) => {
        this.barrios = response.data.data;
        console.log(this.barrios);
        this.loader = false;
      });
    },

    CreateBarrio() {
      this.$router.push("/barrio/create/"+this.$route.params.id);
    },

    editBarrio( idBarrio ) {
      this.$router.push("/barrio/edit/" + idBarrio);
    },

    listBarrios(idZona) {
      this.$router.push("/barrios/" + idZona);
    },

    regresar(){
      this.$router.push("/zonas/");
    }
  },
};
</script>


<style>
@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
i {
  font-weight: 900;
}
</style>
