
<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Crear Barrio</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :sm="24" :md="24">
          <el-input placeholder="Barrio" v-model="barrio"></el-input>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-button
            class="w-100"
            :loading="guardando"
            type="success"
            width="100%"
            @click="storeBarrio"
          >
            <i class="el-icon-success"></i> Guardar</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: false,
      guardando: false,
      barrio: "",
      zona: this.$route.params.id
    };
  },
  mounted() {
  	console.log(this.$route.params.id)
  },
  methods: {
    regresar() {
      this.$router.push("/barrios/"+this.zona);
    },

    storeBarrio() {
      this.guardando = true;

      const params = {
        barrio: this.barrio,
        idZona: this.zona
      };

      axios.post("/api/v1/barrios/store", params).then((response) => {
        if (response.data.status == 200) {
          this.barrio = "";
          this.guardando = false;

          this.$swal("Barrio Creado con Exito!");
          this.$router.push("/barrios/"+this.$route.params.id);
        }
      });
    },
  },
};
</script>


<style>
.el-col {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
</style>
