<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Crear Zona</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :sm="24" :md="24">
          <el-input placeholder="Zona" v-model="zona.zona"></el-input>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-button
            class="w-100"
            :loading="guardando"
            type="success"
            width="100%"
            @click="updateZona"
          >
            <i class="el-icon-success"></i> Actualizar</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: false,
      guardando: false,
      zona: "",
    };
  },
  mounted() {
    this.getZona();
  },
  methods: {
    regresar() {
      this.$router.push("/zonas");
    },

    getZona() {
      this.loader = true;
      axios
        .get("/api/v1/zonas/edit/" + this.$route.params.id)
        .then((response) => {
          this.zona = response.data.data;
          this.loader = false;
        });
    },

    updateZona() {
      this.guardando = true;

      const params = {
        zona: this.zona.zona,
        id: this.zona.id,
      };

      axios.post("/api/v1/zonas/update", params).then((response) => {
        if (response.data.status == 200) {
          this.zona = "";
          this.guardando = false;

          this.$swal("Zona Editada con Exito!");
          this.$router.push("/zonas");
        }
      });
    },
  },
};
</script>


<style>
.el-col {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
</style>
