<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Zonas</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="success" @click="createZona"
            ><i class="el-icon-circle-plus"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <template class="table-container">
            <el-table
              :data="
                zonas.filter(
                  (data) =>
                    !search ||
                    data.zona.toLowerCase().includes(search.toLowerCase())
                )
              "
              style="width: 100%"
              stripe
            >
              <div slot="empty">
                <span
                  >No se encontraron resultados <el-icon name="search"></el-icon
                ></span>
              </div>
              <el-table-column label="Zona" width="200">
                <template slot-scope="scope">
                  <i class="el-icon-position"></i>
                  <span style="margin-left: 10px">{{ scope.row.zona }}</span>
                </template>
              </el-table-column>
              <el-table-column align="right">
                <template slot="header" slot-scope="scope">
                  <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Escriba para buscar"
                  />
                </template>
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    @click="editZona(scope.row.id)"
                    icon="el-icon-edit"
                    size="mini"
                  ></el-button>
                  <el-button
                    type="success"
                    @click="barrios(scope.row.id)"
                    icon="el-icon-files"
                    size="mini"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table> </template></el-col
      ></el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loader: true,
      zonas: [],
      search: "",
    };
  },
  mounted() {
    this.getZonas();
  },
  methods: {
    getZonas() {
      axios.get("/api/v1/zonas/get").then((response) => {
        this.zonas = response.data.data;
        console.log(this.usuarios);
        this.loader = false;
      });
    },

    createZona() {
      this.$router.push("/zona/create");
    },

    editZona(idZona) {
      this.$router.push("/zona/edit/" + idZona);
    },

    barrios(idZona) {
      this.$router.push("/barrios/" + idZona);
    },
  },
};
</script>


<style>
@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
i {
  font-weight: 900;
}
</style>
