<template>
  <div>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div
        class="
          text-center
          navbar-brand-wrapper
          d-flex
          align-items-center
          justify-content-center
        "
      >
        <a class="navbar-brand brand-logo mr-5" href="/"
          ><img src="images/logo.svg" class="mr-2" alt="logo"
        /></a>
        <a class="navbar-brand brand-logo-mini" href="/"
          ><img src="images/logo-mini.svg" alt="logo"
        /></a>
      </div>
      <div
        class="
          navbar-menu-wrapper
          d-flex
          align-items-center
          justify-content-end
        "
      >
        <button
          class="navbar-toggler navbar-toggler align-self-center"
          type="button"
          data-toggle="minimize"
        >
          <span class="icon-menu"></span>
        </button>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-toggle="dropdown"
              id="profileDropdown"
            >
              <img src="images/faces/face28.jpg" alt="profile" />
            </a>
            <div
              class="dropdown-menu dropdown-menu-right navbar-dropdown"
              aria-labelledby="profileDropdown"
            >
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="/logout">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesion
              </a>
            </div>
          </li>
        </ul>
        <button
          class="
            navbar-toggler navbar-toggler-right
            d-lg-none
            align-self-center
          "
          type="button"
          data-toggle="offcanvas"
        >
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <router-link
              active-class="active-menu"
              exact
              :to="{ name: 'index' }"
              class="nav-link"
              ><i class="icon-grid menu-icon"></i>
              <span class="menu-title">Inicio</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link
              active-class="active-menu"
              exact
              :to="{ name: 'informes.index' }"
              class="nav-link"
              ><i class="ti-list menu-icon"></i>
              <span class="menu-title">Informes</span>
            </router-link>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="collapse"
              href="#ui-basic"
              aria-expanded="false"
              aria-controls="ui-basic"
            >
              <i class="ti-settings menu-icon"></i>
              <span class="menu-title">Configuraciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <router-link
                    exact
                    :to="{ name: 'zonas.index' }"
                    class="nav-link"
                    >Zonas</router-link
                  >
                </li>
                <li class="nav-item">
                  <router-link
                    exact
                    :to="{ name: 'ayudas.index' }"
                    class="nav-link active-menu"
                    >Ayudas</router-link
                  >
                </li>

                <li class="nav-item">
                  <router-link
                    exact
                    :to="{ name: 'usuario.index' }"
                    class="nav-link active-menu"
                    >Usuarios</router-link
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <router-view></router-view>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</template>
