<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Crear Tipo de Ayuda</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <form-wizard
        next-button-text="Siguiente"
        title="Registro de Informe Economico"
        subtitle="Formulario Desacoplado"
        color="#009db0"
        shape="tab"
        @on-complete="onComplete"
      >
        <tab-content
          title="Datos del Titular"
          icon="ti-user"
          :before-change="registrarDataBasica"
        >
          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input placeholder="Nombres" v-model="nombres"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input placeholder="Apellidos" v-model="apellidos"></el-input>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="DNI" v-model="dni"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Edad" v-model="edad"></el-input>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Telefono" v-model="telefono"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Celular" v-model="celular"></el-input>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="zona"
                placeholder="Zona"
                @change="getBarrios()"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in zonas"
                  :key="item.id"
                  :label="item.zona"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="barrio"
                placeholder="Barrio"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in barrios"
                  :key="item.id"
                  :label="item.barrio"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input placeholder="Calle" v-model="calle"></el-input>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="estudio"
                placeholder="Estudios"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in estudios"
                  :key="item.estudio"
                  :label="item.estudio"
                  :value="item.estudio"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Ocupacion" v-model="ocupacion"></el-input>
            </el-col>

            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input placeholder="Ingresos" v-model="ingresos"></el-input>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="discapacidad"
                placeholder="CERTIFICADO DE DISCAPACIDAD"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="enfermedad"
                @change="validar()"
                placeholder="ENFERMEDAD CRONICA"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input
                placeholder="Detalle"
                :disabled="isDisabled"
                v-model="detalle_enfermedad"
              ></el-input>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="obra"
                @change="validar2()"
                placeholder="OBRA SOCIAL"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input
                placeholder="Detalle"
                :disabled="isDisabled2"
                v-model="detalle_obra"
              ></el-input>
            </el-col>
          </el-row>
        </tab-content>
        <tab-content title="Grupo Familiar" icon="ti-layout-media-center-alt">
          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input placeholder="Nombres" v-model="nombres_fa"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Edad" v-model="edad_fa"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input
                placeholder="Parentesco"
                v-model="parentesco"
              ></el-input>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input placeholder="Colegio" v-model="colegio"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Curso" v-model="curso"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Ocupacion" v-model="ocupacion"></el-input>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12">
              <el-input placeholder="Ingresos" v-model="ingresos_fa"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="discapacidad_fa"
                placeholder="DISCAPACIDAD"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-button
                class="w-100"
                :loading="guardando"
                type="success"
                width="100%"
                @click="storeMiembroFamilia"
              >
                <i class="el-icon-success"></i> Guardar</el-button
              >
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Edad</th>
                      <th scope="col">Parentesco</th>
                      <th scope="col">Escolaridad</th>
                      <th scope="col">Ocupacion / Ingresos</th>
                      <th scope="col">Discapacidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="fam in grupoFamiliar" :key="fam.id">
                      <th scope="row">{{ fam.nombres }}</th>
                      <td>{{ fam.edad }}</td>
                      <td>{{ fam.parentesco }}</td>
                      <td>{{ fam.colegio }} - {{ fam.curso }}</td>
                      <td>{{ fam.ocupacion }} - {{ fam.ingresos }}</td>
                      <td>{{ fam.discapacidad }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </el-col>
          </el-row>
        </tab-content>

        <tab-content title="Situacion Habitacional" icon="ti-home">
          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="tipo_vivienda"
                placeholder="Tipo de Vivienda"
                @change="habilitar()"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in viviendas"
                  :key="item.viv"
                  :label="item.viv"
                  :value="item.viv"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input
                placeholder="Tiempo en Vivienda"
                v-model="tiempo_vivienda"
              ></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input
                placeholder="Costo de Alquiler"
                :disabled="alquiler"
                v-model="monto_alquiler"
              ></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="material_vivienda"
                placeholder="Material de Vivienda"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in materiales"
                  :key="item.mat"
                  :label="item.mat"
                  :value="item.mat"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-row>
          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input
                placeholder="Cantidad de Dormitorios"
                v-model="dormitorios"
              ></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input
                placeholder="Cantidad de Camas"
                v-model="camas"
              ></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="nucleo"
                placeholder="NUCLEO HUMEDO"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="dentro"
                placeholder="DENTRO DE LA VIVIENDA"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-input placeholder="Material" v-model="material"></el-input>
            </el-col>
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="luz"
                placeholder="POSEE LUZ"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="agua_corriente"
                placeholder="POSEE AGUA"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="cloacas"
                placeholder="POSEE CLOACAS"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-row>

          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="internet"
                placeholder="POSEE INTERNET"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in dic_op"
                  :key="item.dis"
                  :label="item.dis"
                  :value="item.dis"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="gas"
                placeholder="POSEE GAS"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in gas_op"
                  :key="item.gas"
                  :label="item.gas"
                  :value="item.gas"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-row>
        </tab-content>
        <tab-content title="Ingreso Familiar" icon="ti-money">
          <el-row :gutter="10">
            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="ingreso_val"
                placeholder="INGRESOS"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in ingresos_dat"
                  :key="item.ingr"
                  :label="item.ingr"
                  :value="item.ingr"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="provenencia"
                placeholder="DE DONDE PROVIENEN"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in provienen"
                  :key="item.pro"
                  :label="item.pro"
                  :value="item.pro"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="ayuda"
                placeholder="AYUDA"
                filterable
                class="w-100"
                @change="getTipos()"
              >
                <el-option
                  v-for="item in ayudas"
                  :key="item.id"
                  :label="item.ayuda"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-col>

            <el-col :xs="24" :sm="24" :md="6" :lg="6" :xl="6">
              <el-select
                v-model="tipo_ayuda"
                placeholder="TIPO AYUDA"
                filterable
                class="w-100"
              >
                <el-option
                  v-for="item in tipos_ayudas"
                  :key="item.id"
                  :label="item.tipo_ayuda"
                  :value="item.id"
                >
                </el-option>
              </el-select>
            </el-col>
          </el-row>
        </tab-content>
      </form-wizard>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      ingreso_val: "",
      guardando: false,
      nombres: "",
      apellidos: "",
      dni: "",
      edad: "",
      telefono: "",
      celular: "",
      zona: "",
      zonas: [],
      barrio: "",
      barrios: [],
      estudios: [
        { estudio: "PRIMARIO" },
        { estudio: "PRIMARIO INCOMPLETO" },
        { estudio: "SECUNDARIO" },
        { estudio: "SECUNDARIO INCOMPLETO" },
        { estudio: "TECEARIO" },
        { estudio: "TECEARIO INCOMPLETO" },
        { estudio: "UNIVERSITARIO" },
        { estudio: "UNIVERSITARIO INCOMPLETO" },
      ],
      viviendas: [
        { viv: "PROPIA" },
        { viv: "ALQUILADA" },
        { viv: "PRESTADA" },
        { viv: "USURPADA" },
      ],
      materiales: [
        { mat: "CONCRETO" },
        { mat: "CHAPA" },
        { mat: "MADERA" },
        { mat: "NYLON Y CARTON" },
        { mat: "PREFABRICADA" },
      ],
      ingresos_dat: [
        { ingr: "< 20,000" },
        { ingr: "20,000 - 40,000" },
        { ingr: "40,000 - 60,000" },
        { ingr: "> 60,000" },
      ],
      provienen: [
        { pro: "PLAN SOCIAL" },
        { pro: "AUH" },
        { pro: "TARJETA ALIMENTAR" },
        { pro: "PENSION POR DISCAPACIDAD" },
        { pro: "PENSION" },
        { pro: "JUBILACION" },
        { pro: "OTRA" },
      ],
      gas_op: [{ gas: "NATURAL" }, { gas: "ENVASADO" }],
      dic_op: [{ dis: "SI" }, { dis: "NO" }],
      enfermedad: "",
      discapacidad: "",
      estudio: "",
      ocupacion: "",
      calle: "",
      ingresos: "",
      isDisabled: true,
      isDisabled2: true,
      obra: "",
      detalle_obra: "",
      detalle_enfermedad: "",
      idInforme: 0,
      grupoFamiliar: [],
      nombres_fa: "",
      edad_fa: "",
      parentesco: "",
      colegio: "",
      curso: "",
      ocupacion: "",
      ingresos_fa: "",
      discapacidad_fa: "",
      alquiler: "",
      tipo_vivienda: "",
      tiempo_vivienda: "",
      monto_alquiler: "",
      material_vivienda: "",
      dormitorios: "",
      camas: "",
      nucleo: "",
      dentro: "",
      material: "",
      luz: "",
      agua_corriente: "",
      cloacas: "",
      internet: "",
      gas: "",
      ingresos: "",
      provenencia: "",
      ayudas: [],
      tipos_ayudas: [],
      ayuda: "",
      tipo_ayuda: "",
    };
  },
  mounted() {
    this.getZonas();
    this.getAyudas();
  },
  methods: {
    getZonas() {
      axios.get("/api/v1/zonas/get").then((response) => {
        this.zonas = response.data.data;
        console.log(this.zonas);
      });
    },

    getBarrios() {
      axios.get("/api/v1/barrios/" + this.zona).then((response) => {
        this.barrios = response.data.data;
        console.log(this.barrios);
      });
    },

    regresar() {
      this.$router.push("/informes-economicos");
    },

    registrarDataBasica() {
      const params = {
        nombres: this.nombres,
        apellidos: this.apellidos,
        dni: this.dni,
        edad: this.edad,
        telefono: this.telefono,
        celular: this.celular,
        zona: this.zona,
        barrio: this.barrio,
        enfermedad: this.enfermedad,
        discapacidad: this.discapacidad,
        estudio: this.estudio,
        ocupacion: this.ocupacion,
        calle: this.calle,
        ingresos: this.ingresos,
        obra: this.obra,
        detalle_obra: this.detalle_obra,
        detalle_enfermedad: this.detalle_enfermedad,
      };

      return new Promise((resolve, reject) => {
        axios.post("/api/v1/informes/dataBasica", params).then((response) => {
          console.log(response.data.idInforme);
          this.idInforme = response.data.idInforme;
          this.getGrupoFamiliar();
        });
        resolve(true);
      });
    },

    getGrupoFamiliar() {
      axios
        .get("/api/v1/grupo-familiar/get/" + this.idInforme)
        .then((response) => {
          this.grupoFamiliar = response.data.data;
          console.log(this.grupoFamiliar);
        });
    },

    storeMiembroFamilia() {
      this.guardando = true;
      const params = {
        nombres_fa: this.nombres_fa,
        edad_fa: this.edad_fa,
        parentesco: this.parentesco,
        colegio: this.colegio,
        curso: this.curso,
        ocupacion: this.ocupacion,
        ingresos_fa: this.ingresos_fa,
        discapacidad_fa: this.discapacidad_fa,
      };

      axios
        .post("/api/v1/grupo-familiar/store/" + this.idInforme, params)
        .then((response) => {
          this.guardando = false;
          this.nombres_fa = "";
          this.edad_fa = "";
          this.parentesco = "";
          this.colegio = "";
          this.curso = "";
          this.ocupacion = "";
          this.ingresos_fa = "";
          this.discapacidad_fa = "";

          this.getGrupoFamiliar();
        });
    },

    onComplete() {
      const params = {
        tipo_vivienda: this.tipo_vivienda,
        tiempo_vivienda: this.tiempo_vivienda,
        monto_alquiler: this.monto_alquiler,
        material_vivienda: this.material_vivienda,
        dormitorios: this.dormitorios,
        camas: this.camas,
        nucleo: this.nucleo,
        dentro: this.dentro,
        material: this.material,
        luz: this.luz,
        agua_corriente: this.agua_corriente,
        cloacas: this.cloacas,
        internet: this.internet,
        gas: this.gas,
        ingresos: this.ingresos,
        provenencia: this.provenencia,
        ayuda: this.ayuda,
        tipo_ayuda: this.tipo_ayuda,
        ingreso: this.ingreso,
        ingreso_val: this.ingreso_val,
      };

      return new Promise((resolve, reject) => {
        axios
          .post("/api/v1/informes/storeData/" + this.idInforme, params)
          .then((response) => {
              this.$router.push("/informes-economicos")
          });
        resolve(true);
      });
    },

    validar() {
      if (this.enfermedad == "SI") {
        this.isDisabled = false;
      } else {
        this.isDisabled = true;
      }

      return this.idDisabled;
    },

    validar2() {
      if (this.obra == "SI") {
        this.isDisabled2 = false;
      } else {
        this.isDisabled2 = true;
      }

      return this.idDisabled2;
    },

    habilitar() {
      if (this.tipo_vivienda == "ALQUILADA") {
        this.alquiler = false;
      } else {
        this.alquiler = true;
      }
    },

    getAyudas() {
      axios.get("/api/v1/ayudas/get").then((response) => {
        this.ayudas = response.data.data;
        this.loader = false;
      });
    },

    getTipos() {
      this.loader = true;
      axios.get("/api/v1/tipos-ayudas/get/"+this.ayuda).then((response) => {
        this.tipos_ayudas = response.data.data;
        this.loader = false;
      });
    },
  },
};
</script>


<style>
.el-col {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
</style>
