<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Detalle informe economico</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-descriptions
            class="margin-top"
            title="Datos Basicos"
            :column="2"
            border
          >
            <template slot="extra">
              <el-select
                v-model="estado"
                filterable
                placeholder="Estado de la Ayuda"
                class="w-100"
                @change="actualizarEstado"
              >
                <el-option
                  v-for="item in estados"
                  :key="item.idEstado"
                  :label="item.estado"
                  :value="item.idEstado"
                >
                </el-option>
              </el-select>
            </template>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Nombre y Apellidos
              </template>
              {{ informe.nombres }} {{ informe.apellidos }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Telefono / Celular
              </template>
              {{ informe.telefono_fijo }} / {{ informe.telefono_celular }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                DNI
              </template>
              {{ informe.dni }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Edad
              </template>
              {{ informe.edad }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-office-building"></i>
                Direccion
              </template>
              <!-- {{informe.calle}} - {{informe.zona.zona}} - {{informe.barrio.barrio}} -->
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Estudios
              </template>
              {{ informe.estudios }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Ocupacion
              </template>
              {{ informe.ocupacion }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Ingresos
              </template>
              {{ informe.ingresos }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Certificado de Discapacidad
              </template>
              {{ informe.discapacidad }}
            </el-descriptions-item>

            <el-descriptions-item> </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Enfermedad Cronica
              </template>
              {{ informe.enfermedad_cronica }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Detalle
              </template>
              {{ informe.enfermedad_cronica_detalle }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Obra Social
              </template>
              {{ informe.obra_social }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Detalle
              </template>
              {{ informe.obra_social_detalle }}
            </el-descriptions-item>
          </el-descriptions>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <p class="card-title">Grupo Familiar</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Parentesco</th>
                  <th scope="col">Escolaridad</th>
                  <th scope="col">Ocupacion / Ingresos</th>
                  <th scope="col">Discapacidad</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="fam in grupoFamiliar" :key="fam.id">
                  <th scope="row">{{ fam.nombres }}</th>
                  <td>{{ fam.edad }}</td>
                  <td>{{ fam.parentesco }}</td>
                  <td>{{ fam.colegio }} - {{ fam.curso }}</td>
                  <td>{{ fam.ocupacion }} - {{ fam.ingresos }}</td>
                  <td>{{ fam.discapacidad }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-descriptions
            class="margin-top"
            title="Situacion Habitacional"
            :column="2"
            border
          >
            <template slot="extra">
              <!-- <el-button type="primary" size="small">Operation</el-button> -->
            </template>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Tipo Vivienda
              </template>
              {{ informe.tipo_vivienda }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Tiempo Vienda
              </template>
              {{ informe.tiempo_vivienda }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Costo Alquiler
              </template>
              {{ informe.monto_alquiler }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Material Vivienda
              </template>
              {{ informe.material_vivienda }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Cantidad de Dormitorios
              </template>
              {{ informe.cantidad_dormitorios }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Cantidad de Camas
              </template>
              {{ informe.cantidad_camas }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Nucleo Humedo
              </template>
              {{ informe.nucleo_humedo }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Dentro de la vivienda
              </template>
              {{ informe.dentro_vivienda }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Material
              </template>
              {{ informe.material_nucleo }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Luz
              </template>
              {{ informe.luz }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Agua
              </template>
              {{ informe.agua }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Cloacas
              </template>
              {{ informe.cloacas }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Internet
              </template>
              {{ informe.internet }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Gas
              </template>
              {{ informe.gas }}
            </el-descriptions-item>
          </el-descriptions>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-descriptions
            class="margin-top"
            title="Ingreso Familiar"
            :column="2"
            border
          >
            <template slot="extra"> </template>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Ingresos
              </template>
              {{ informe.ingreso_familiar }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                De Donde Provienen
              </template>
              {{ informe.provenencia }}
            </el-descriptions-item>

            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-user"></i>
                Ayuda
              </template>
              {{ informe.ayuda.ayuda }}
            </el-descriptions-item>
            <el-descriptions-item>
              <template slot="label">
                <i class="el-icon-mobile-phone"></i>
                Tipo Ayuda
              </template>
              {{ informe.tipo_ayuda.tipo_ayuda }}
            </el-descriptions-item>
          </el-descriptions>
        </el-col>

        <el-col :xs="24" :sm="24" :md="20" :lg="20" :xl="20">
          <el-input
            type="textarea"
            placeholder="Observaciones"
            v-model="observacion"
            maxlength="3000"
            show-word-limit
            minRows="10"
          ></el-input>
        </el-col>
        <el-col :xs="24" :sm="24" :md="4" :lg="4" :xl="4">
          <button class="btn btn-success w-100 m-2" @click="observaciones()">Guardar</button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
        ayuda: '',
      idInforme: this.$route.params.idInforme,
      informe: "",
      grupoFamiliar: [],
      zona: "",
      observacion: "",
      estado: "",
      estados: [
        { estado: "En Espera", idEstado: 1 },
        { estado: "Aprobado", idEstado: 2 },
        { estado: "Rechazado", idEstado: 3 },
      ],
    };
  },
  mounted() {
    console.log("Mounted");
    this.getInforme();
  },
  methods: {
    regresar() {
      this.$router.push("/informes-economicos");
    },

    actualizarEstado() {
      const params = {
        idInforme: this.informe.id,
        estado: this.estado,
      };
      axios
        .post("/api/v1/informes/updateEstado", params)
        .then((response) => {
            if(response.data == 1)
            {
                this.$swal({icon: 'success', title: 'Estado Actualizado Con exito!'});
            }
        });
    },

    observaciones() {
      const params = {
        idInforme: this.informe.id,
        observaciones: this.observacion,
      };
      axios.post("/api/v1/informes/updateObservaciones", params).then((response) => {
          if(response.data == 1)
            {
                this.$swal({icon: 'success', title: 'Observacion Actualizado Con exito!'});
            }
      })
    },

    getInforme() {
      axios
        .get("/api/v1/informes/detalle/" + this.idInforme)
        .then((response) => {
          this.informe = response.data.data;
          this.observacion = this.informe.observaciones
          this.getGrupoFamiliar();
        });
    },

    getGrupoFamiliar() {
      axios
        .get("/api/v1/grupo-familiar/get/" + this.idInforme)
        .then((response) => {
          this.grupoFamiliar = response.data.data;
          console.log(this.grupoFamiliar);
        });
    },
  },
};
</script>

<style>
</style>
