<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Informes</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="success" @click="crearInforme"
            ><i class="el-icon-circle-plus"></i
          ></el-button>
        </el-col>
      </el-row>

      <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="4" :lg="4" :xl="4">
          <el-select
            v-model="estado"
            placeholder="Seleccione"
            @change="filtrarEstado"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-col>
        <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8">
          <el-date-picker
            v-model="value2"
            @blur="filtrarFecha"
            value-format="yyyy-MM-dd"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="a"
            start-placeholder="Inicio"
            end-placeholder="Fin"
            :picker-options="pickerOptions"
          >
          </el-date-picker>
        </el-col>
      </el-row>

      <el-row :gutter="10">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Nombres y Apellidos</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="fam in informes" :key="fam.id">
                <td>{{ fam.fecha }}</td>
                <th scope="row">{{ fam.nombres }} {{ fam.apellidos }}</th>
                <th scope="row">{{ fam.telefono_celular }}</th>
                <td>
                  <span v-if="fam.estado == 1" class="badge badge-primary"
                    >En Espera</span
                  >
                  <span v-if="fam.estado == 2" class="badge badge-success"
                    >Aprobado</span
                  >
                  <span v-if="fam.estado == 3" class="badge badge-danger"
                    >Denegado</span
                  >
                </td>
                <td>
                  <button
                    class="btn btn-sm btn-outline-success"
                    @click="verInforme(fam.id)"
                  >
                    <i class="el-icon-view"></i> Ver Detalle
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      informes: [],
      estado: "",
      value2: "",
      options: [
        {
          value: 1,
          label: "En Espera",
        },
        {
          value: 2,
          label: "Aprobado",
        },
        {
          value: 3,
          label: "Denegado",
        },
      ],
      pickerOptions: {
        shortcuts: [
          {
            text: "Semana",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "Mes",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "3 Meses",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            },
          },
        ],
      },
    };
  },
  mounted() {
    this.getInformes();
  },
  methods: {
    filtrarEstado() {
      this.loader = true;
      axios.get("/api/v1/informes/ByEstado/" + this.estado).then((response) => {
        this.informes = response.data.data;
        this.loader = false;
      });
    },

    filtrarFecha() {
      this.loader = true;
      axios.get("/api/v1/informes/ByFecha/" + this.value2).then((response) => {
        this.informes = response.data.data;
        this.loader = false;
      });
    },

    crearInforme() {
      this.$router.push("/crear-informe-economico");
    },

    getInformes() {
      axios.get("/api/v1/informes/").then((response) => {
        this.informes = response.data.data;
        this.loader = false;
      });
    },

    verInforme(idInforme) {
      this.$router.push("/detalle-informe/" + idInforme);
    },
  },
};
</script>

<style>
</style>
