<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Editar Tipo de Ayuda</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
          <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-spinner
          variant="primary"
          style="width: 10rem; height: 10rem"
          type="grow"
          label="Spinning"
          >Cargando...</b-spinner
        >
      </div>

      <el-row :gutter="10">
        <el-col :sm="24" :md="24">
          <el-input placeholder="Tipo Ayuda" v-model="tipo_ayuda"></el-input>
        </el-col>

        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <el-button
            class="w-100"
            :loading="guardando"
            type="success"
            width="100%"
            @click="storeTipo"
          >
            <i class="el-icon-success"></i> Guardar</el-button
          >
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tipo_ayuda: "",
      loader: false,
      guardando: false,
      idTipoAyuda: "",
    };
  },
  mounted() {
    this.getTipoAyuda();
  },
  methods: {
    getTipoAyuda() {
      axios
        .get("/api/v1/tipos-ayudas/edit/" + this.$route.params.id)
        .then((response) => {
          this.tipo_ayuda = response.data.data.tipo_ayuda;
          this.idTipoAyuda = response.data.data.id;
        });
    },

    regresar() {
      this.$router.push("/tipos-ayudas");
    },

    storeTipo() {
      this.guardando = true;

      const params = {
        idTipoAyuda: this.idTipoAyuda,
        tipo_ayuda: this.tipo_ayuda,
      };

      axios.post("/api/v1/tipos-ayudas/update", params).then((response) => {
        if (response.data.status == 200) {
          this.$swal({
            icon: "success",
            title: "Tipo de Ayuda Editada con exito!",
          });
          this.guardando = false;
          this.$router.push("/tipos-ayudas");
        }
      });
    },
  },
};
</script>


<style>
.el-col {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
</style>
