<template>
  <div class="card">
    <div class="card-body">
      <el-row :gutter="10">
        <el-col :xs="22" :sm="21" :md="22" :lg="22" :xl="22">
          <p class="card-title">Tipos de Ayudas</p>
        </el-col>
        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">
         <el-button size="mini" type="warning" @click="regresar"
            ><i class="el-icon-back"></i
          ></el-button>
          <el-button size="mini" type="success" @click="createTipoAyuda"
            ><i class="el-icon-circle-plus"></i
          ></el-button>
        </el-col>
      </el-row>

      <div class="text-center" v-if="loader">
        <b-icon
          class="text-center"
          icon="arrow-clockwise"
          animation="spin"
          variant="success"
          font-scale="7,5"
        ></b-icon>
      </div>

      <el-row :gutter="10">
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <template class="table-container">
            <el-table
              :data="
                tipos_ayudas.filter(
                  (data) =>
                    !search ||
                    data.tipo_ayuda.toLowerCase().includes(search.toLowerCase())
                )
              "
              style="width: 100%"
              stripe
            >
              <div slot="empty">
                <span
                  >No se encontraron resultados <el-icon name="search"></el-icon
                ></span>
              </div>
              <el-table-column label="Tipo de Ayuda" width="200">
                <template slot-scope="scope">
                  <i class="el-icon-s-finance"></i>
                  <span style="margin-left: 10px">{{
                    scope.row.tipo_ayuda
                  }}</span>
                </template>
              </el-table-column>
              <el-table-column align="right">
                <template slot="header" slot-scope="scope">
                  <el-input
                    v-model="search"
                    size="mini"
                    placeholder="Type to search"
                  />
                </template>
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    @click="editarTipoAyuda(scope.row.id)"
                    icon="el-icon-edit"
                    size="mini"
                  ></el-button>
                </template>
              </el-table-column>
            </el-table> </template></el-col
      ></el-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tipos_ayudas: [],
      loader: false,
      search: "",
    };
  },
  mounted() {
    this.getTipos();
  },
  methods: {
    getTipos() {
      this.loader = true;
      axios
        .get("/api/v1/tipos-ayudas/get/" + this.$route.params.id)
        .then((response) => {
          this.tipos_ayudas = response.data.data;
          this.loader = false;
        });
    },

    regresar()
    {
        this.$router.push("/ayudas");
    },

    createTipoAyuda() {
      this.$router.push("/tipo-ayuda/create/" + this.$route.params.id);
    },

    editarTipoAyuda(idTipoAyuda) {
      this.$router.push("/tipo-ayuda/edit/" + idTipoAyuda);
    },
  },
};
</script>


<style>
@media screen and (max-width: 768px) {
  .table-container {
    overflow: auto;
  }
}
i {
  font-weight: 900;
}
</style>
